*{
    padding:0px;
    margin:0px;
    border:0px;
}
html,body{
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

body{
    background-image: url('../img/zhongzi.jpg');
    background-repeat:repeat;/*背景重复*/
    background-attachment:fixed;/*固定背景*/
    overflow-x:hidden;/*隐藏左右滚动条*/
}

.whole{
    position: absolute;
    top: 100px;
    height: auto;
    width: 100%;
}

.logo{
    height: 100px;
    width: 100%;
    background: white;
}
.logo1{
    position: absolute;
    left: 250px;
}

.logo2{
    position: absolute;
    top: 20px;
    left: 1000px;
}

.top{
    background: black;
    width: 100%;
    height: 60px;
}


.top a:hover{
    background-color: #2f6f4f;/*鼠标悬浮颜色*/
}

.title{/*设置导航栏的框框*/
    margin: 0;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/
    margin-left: 250px;
    width: 1000px;/*框框的宽度*/
    height: 0;/*框框的长度*/
    padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
}

.title a{
    display: block;/*将a变成块状*/
    width: 400px;/*设置块的宽度*/
    height: 60px;/*设置块的长度*/
    line-height: 60px;/*设置字体在块中的高度*/
    background-color: black;
    margin: 0px 0px;/*块里的高宽通过margin设置*/
    color: #fff;
    text-align: center;/*字体居中*/
    text-decoration: none;/*去掉下划线*/
    font-size: 40px;
}

.daohang{/*设置导航栏的框框*/
    margin: 0;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/
    margin-left: 1000px;/*不用百分比，防止页面缩放时出现分裂*/
    width: 1000px;/*框框的宽度*/
    height: 0;/*框框的长度*/
    padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
}
.daohang li{
    float: left;/*左靠齐*/
    list-style-type: none;/*去掉li前的点*/
}

.daohang a{
    display: block;/*将a变成块状*/
    width: 110px;/*设置块的宽度*/
    height: 60px;/*设置块的长度*/
    line-height: 60px;/*设置字体在块中的高度*/
    background-color: black;
    margin: 0px 0px;/*块里的高宽通过margin设置*/
    color: #fff;
    text-align: center;/*字体居中*/
    text-decoration: none;/*去掉下划线*/
    font-size: 20px;
}

.wlc_p{
    position: absolute;
    color: #fff;
    font-size: 30px;

}

.pic{
    position: absolute;
    width: 1200px;
    height: 500px;
    background: white;
    text-align: center;
    }

.left{
    position: absolute;
    top: 560px;
    width: 750px;
    height: auto;
    background: black;
}

.head{
    text-align: left;
    margin-left: 5px;
    padding: 0;
    vertical-align: middle;
    list-style-type: none;
}

.news{
    width: 748px;
    height: 198px;
    border: 1px solid black;
    background: white;
}
.news:hover{
    background-color: #eee;
}
.news img{
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.news img:hover{
    transform: scale(1.05);
}
.news a{
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
    text-decoration:none;
}
.news a:visited{ color:black;}
.news a:hover{ text-decoration: underline; }

.Head{
    border: 1px solid white;
}


.right{
    position: absolute;
    top: 560px;
    left: 750px;
    width: 450px;
    height: auto;
    background: black;
}
.do{
    width: 438px;
    height: 198px;
    border: 1px solid black;
    background: white;
    padding-left: 10px;

}
.do:hover{
    background-color: #eee;
}

.time{

}
.guidang1{
    float: left;
    padding-left: 22px;
    padding-right: 22px;
}
.guidang2{
    float: left;
    padding-left: 22px;
    padding-right: 22px;
}
.do a{
    text-decoration: none;
}
.do a:visited{ 
    color:black;

}
.do a:hover{
    text-decoration: underline;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

th,td{
    border: 1px solid #999;
    text-align: center;
    padding: 20px 0;
}

table thead tr{
    background-color: #008c8c;
    color: #fff;
}

table tbody tr:nth-child(odd){
    background-color: #eee;
}

table tbody tr:hover{
    background-color: #ccc;
}

table tbody tr td:first-child{
    color: #f40;
}

table tfoot tr td{
    text-align: right;
    padding-right: 20px;
}

#main{
    position: absolute;
    top: 60px;
    left: 250px;
    width: 1200px;
    border: 1px;
    background-color: white;
}

#main h1,h2,p{
    padding-left: 5px;
}
#main h1{
    text-align: center;
}


.card-body p{
    font-size: 20px;
    font-weight: bold;
}

.card-body button{
    margin: 10px 30px;
    background-color: #A7A7A7;
    border: none;
    color: rgb(34, 34, 34);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
}


.card-body input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 20px;
    background-color: #F7f7f7;
    text-align: center;
}

.card-body select {
    width: 20%;
    padding: 10px 20px;
    border: 2px solid #ccc;
    margin: 8px 20px;
    border-radius: 4px;
    background-color: #F7F7F7;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.card-body input{
    background-color: #F7F7F7;
    border: 2px solid #ccc;
    color: #333;
    padding: 10px 20px;
    margin: 8px 20px;
    cursor: pointer;
    text-align: center;
}

.card-body textarea{
    width: 80%;
    height: 500px;
    padding: 10px 20px;
    margin: 8px 10%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #F7f7f7;
    font-size: 18px;
    resize: none;
}

/*
 * 为所以图片设置同main一样宽高不大推荐
    因为，如果图片没进行过处理，强制改变宽高，容易产生变形，
    图片将变得难看。
 * *//*为了使图片叠加所以我们使用absolute，在此之前
 *  我们需要去它的父级添加一个relative。
 * */
.banner-slide{
    position: absolute;
    width: 1200px;
    height: 600px; 
    overflow: hidden;/*防止图片过大，超出范围，影响视觉*/
    display:none;
}
.slide-active{
    display: block;
}
/*
 * 挨个设置轮播图的图片
 * 为了方便在图片所在div加内容，标签
 * 我们选择把轮播图内容以background形式出现。
 */
.slide1{
    background: red;
}
.slide2{
    background: yellow;
}
.slide3{
    background: blue;
}
.slide4{
    background: green;
}
.slide5{
    background: deepskyblue;
}
/*ul标签的移动*/
.dots #dots{
    position: absolute;
    margin-top: 560px;/*由于我设置了li高为40，总高600，所以进行
    560的移动*/
    margin-left: 275px;/*(1200-5*130)/2*/
}
.dots #dots li{
    height: 40px;
    width: 80px;
    border-radius: 20%;
    background: gray;/*在此的样式根据个人喜好自己添加*/
    /*由于上面的定位，所以*/
    float: left;/*为了是图标自左向右*/
    margin-left: 50px;
    list-style: none;
}
.dots #dots .li1{
    background: blue;
}
#left-right .move{
    position: absolute;
    margin-top:260px;
    height: 80px;
    width: 40px;
    font-size: 50px;/*设置<>大小*/
    padding-left: 10px ;
}
/*左右分离*/
#left-right #next{
    right:0;
}
/*触碰上下张有效果*/
#left-right .move:hover{
    background: rgba(0,0,0,0.4);
}


